@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="space">
    <div class="container">
        <div class="error-img"><img src="~/Site/assets/img/theme-img/error.svg" alt="404 image"></div>
        <div class="error-content">
            <h2 class="error-title">
                <span class="text-theme"> اوه!</span> با خطا مواجه شدیم
            </h2>
            <p class="error-text">اوه! در هنگام اجرای سرویس با خطا مواجه شدیم.</p>
           <a href="~/Home/" class="th-btn"><i class="fal fa-home me-2"></i>بازگشت به خانه</a>
        </div>
    </div>
</section>

@section Scripts{

}